<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Launch darknet ros with gdb launch prefix -->
  <!-- Check the following links: -->
  <!-- https://stackoverflow.com/questions/13500541/valgrind-how-to-force-it-to-generate-heap-summary-without-terminating-process -->
  <!-- https://www.valgrind.org/docs/manual/manual-core-adv.html#manual-core-adv.gdbserver-commandhandling -->
  <include file="$(find darknet_ros)/launch/darknet_ros.launch">
    <arg name="launch_prefix"   value="valgrind --leak-check=full --show-leak-kinds=all --verbose --vgdb=yes --vgdb-error=0"/>
  </include>

</launch>
