subscribers:

  camera_reading:
    topic: /camera/color/image_raw
    queue_size: 1

  depth_cam_info:
    topic: /camera/aligned_depth_to_color/camera_info
    queue_size: 1
  
actions:

  camera_reading:
    name: /darknet_ros/check_for_objects

publishers:

  object_detector:
    topic: /darknet_ros/found_object
    queue_size: 1
    latch: false

  bounding_boxes:
    topic: /darknet_ros/bounding_boxes
    queue_size: 1
    latch: false

  detection_image:
    topic: /darknet_ros/detection_image
    queue_size: 1
    latch: true

  object_depth:
    topic: /object_depth/scene_depth_info
    queue_size: 1
    latch: true

  detection_depth_image:
    topic: /object_depth/detection_depth_image
    queue_size: 1
    latch: true


image_view:

  enable_opencv: false
  wait_key_delay: 1
  enable_console_output: true
